<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Account | HireNext</title>
  <link rel="stylesheet" href="css/common.css">
</head>
<body>


  <div class="navbar">
   <div class="logo">Hire<span>Next</span></div>
      </div>

  <div class="page-center">
    <div class="card">
      <h2>Create Your Account</h2>

      <input type="text" placeholder="Full Name">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">

           <div class="captcha-row">
        <span class="captcha">BXWYHv</span>
        <button class="refresh">↻</button>
      </div>

      <input type="text" placeholder="Enter CAPTCHA">

      <button class="btn">Register</button>

      <p class="link-text">
        Already have an account?
        <a href="login.html">Log in</a>
      </p>
    </div>
  </div>

</body>
</html>
